<%= render 'shared/errors', object: @user %>
<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :name %>
    <div>
      <%= f.text_field :name, minlength: 2, placeholder: 'Ivan' %>
    </div>
  </div>

  <div>
    <%= f.label :email %>
    <div>
      <%= f.text_field :email, minlength: 5, placeholder: 'example@gmail.com' %>
    </div>
  </div>

  <div>
    <%= f.label :phone_number %>
    <div>
      <%= f.text_field :phone_number, minlength: 10, maxlength: 13, placeholder: '+79969969696' %>
    </div>
  </div>
  <%= f.submit "Submit changes" %>
<% end %>