<h1 class="mb-4"><%= @user.name %></h1>

<p class="lead my-3">
  <%= @user.email %>
</p>
<p class="lead my-3">
  <%= @user.phone_number %>
</p>

<div class="btn-group me-4">
  <%= button_to 'Edit', edit_user_path(@user), class: 'btn btn-primary', method: :get %>
  <%= button_to 'Destroy', user_path(@user), class: 'btn btn-danger', method: :delete %>
  <%= link_to 'Back', users_path, class: 'btn btn-secondary'  %>
</div>