<h1>Rentals list</h1>

<%= link_to 'Create new Rental', new_rental_path, class: 'btn btn-primary mb-3' %>

<div class="row">
  <% @rentals.each do |rental| %>
    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rental for <%= rental.user.name %></h5>
          <p class="card-text">Car: <%= rental.car.brand %> - <%= rental.car.model %></p>
          <p class="card-text">Dates: <%= rental.start_date %> to <%= rental.end_date %></p>
          <p class="card-text">Total Price: $<%= rental.total_price %></p>
          <div class="btn-group me-4">
            <%= button_to 'Show', rental_path(rental), method: :get, class: 'btn btn-primary btn-sm' %>
            <%= button_to 'Edit', edit_rental_path(rental), method: :get, class: 'btn btn-secondary btn-sm' %>
            <%= button_to 'Destroy', rental_path(rental), method: :delete, class: 'btn btn-danger btn-sm' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
