<h1>Cars</h1>

<%= link_to 'Add new Car', new_car_path, class: 'btn btn-primary mb-3'%>

<div class="row">
  <% @cars.each do |car| %>
    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= car.brand %> - <%= car.model %></h5>
          <p class="card-text">Price per day: $<%= car.price_per_day %></p>
          <p class="card-text">Location: <%= car.location.city %></p>
          <div class="btn-group me-4">
            <%= button_to 'Show', car_path(car), method: :get, class: 'btn btn-primary btn-sm' %>
            <%= button_to 'Edit', edit_car_path(car), method: :get, class: 'btn btn-secondary btn-sm' %>
            <%= button_to 'Destroy', cars_path(car), method: :delete, class: 'btn btn-danger btn-sm' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>