<h1 class="mb-4">Locations list</h1>

<div class="mb-3">
  <%= link_to 'Create new Location', new_location_path, class: 'btn btn-primary btn-lg' %>
</div>
<% @locations.each do |location| %>
  <article class="card mt-2">
    <div class="card-body">
      <h4><%= location.city %></h4>

      <section class="card-text">
        <p class="my-2">Address: <%= location.address %></p>
      </section>
      <div class="btn-group btn-group me-4">
        <%= button_to 'Show', location_path(location), method: :get, class: 'btn btn-primary'%>
        <%= button_to 'Edit', edit_location_path(location), method: :get, class: 'btn btn-secondary' %>
        <%= button_to 'Destroy', location_path(location), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </article>
<% end %>