<h1><%= @location.city %></h1>

<p>
  <%= @location.address %>
</p>

<div>
  <%= button_to 'Edit', edit_location_path(@location), class: 'btn btn-secondary', method: :get %>
  <%= button_to 'Destroy', location_path(@location), class: 'btn btn-danger', method: :delete %>
  <%= link_to 'Back', locations_path %>
</div>